---
interface Props {
    blogPostBanner: {
        title: string;
        description: string;
        created: Date;
        timeToRead: number;
        words: number;
    }
}

const {blogPostBanner} = Astro.props;

function processDate(date: string) {
    let dateArr = date.split(" ")
    dateArr.shift();
    const month = dateArr.shift();

    return [month, dateArr.join(", ")].join(" ");
}
---

<div class="text-textcolor w-fit my-2 flex">
    <p class="text-xs md:text-sm">{processDate(blogPostBanner.created.toDateString())}</p>
    <span class="text-xs md:text-sm mx-2">-</span>
    <a href=`/blog/${blogPostBanner.title.toLowerCase().split(" ").join("-")}` class="flex flex-col gap-3 text-linkcolor hover:text-secondarycolor text-xs md:text-sm"> {blogPostBanner.title} </a>
</div>