---
// import Toggle from './Toggle.svelte';

import MiddleLayout from '@layouts/MiddleLayout.astro';

interface Props {
    currentPath: string
}

const { currentPath } = Astro.props as Props;
---

<nav class="flex items-center justify-around border-b-2 border-dashed border-dashcolor h-16">
    <MiddleLayout padding={false}>
        <div class="flex justify-between">
            <div class="flex justify-center">
                <a href=`${currentPath.split("/").length <= 2 ? "/" : "/blog"}`>
                    <h1 class="font-bold w-fit text-center text-xl md:text-3xl text-primarycolor hover:cursor-pointer hover:text-secondarycolor">Prince Addo <div class="hidden xl:inline-block">{currentPath}</div></h1>
                </a>
            </div>

            <div class="flex justify-center gap-3">
                <ul class="list-none flex justify-around">
                    <li><a class="w-fit no-underline font-bold text-fontcolor text-md md:text-xl hover:text-secondarycolor" href="/blog">Blog</a></li>
                </ul>

                <!-- <Toggle client:load /> -->
            </div>
        </div>
    </MiddleLayout>
</nav>