html {
	background-color: rgb(29, 29, 29);
	color: green;
	font-family: 'Fira Code', Calibri, Tahoma, sans-serif;
}

*::selection {
	background-color: rgba(255, 255, 255, 0.712);
	color: black;
}

*::-moz-selection {
	background-color: rgba(255, 255, 255, 0.712);
	color: black;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-bottom: 1px dashed rgb(56, 56, 56);
}

nav h1 {
	/* background-color: white; */
}

nav h1 a {
	text-decoration: none;
	color: green;
}

nav h1 a:hover {
	cursor: pointer;
	text-decoration: underline;
}

nav h1 a:visited {
	color: green;
}

nav ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/* background-color: white; */
	width: 20px;
}

.link_container {
	margin-top: 30px;
	width: 50vh;
	font-size: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.title {
	font-size: xx-large;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 82vh;
}

.content_text {
	font-size: 40px;
	width: 50vw;
}

.letterh {
	width: 90px;
}

a {
	color: rgb(113, 5, 185);
	text-decoration: none;
}

.projects-list li img {
	width: 30px;
}

.projects-list {
	list-style: none;
	font-size: 20px;
}

.projects-list li {
	margin-bottom: 50px;
	margin-top: 30px;
}

.projects-list li::before {
	content: '>';
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

@font-face {
	font-family: 'Fira Code';
	src: url('/fonts/FiraCode-Regular.ttf');
	src: url('/fonts/FiraCode-Medium.otf') format('opentype'),
		url('/fonts/FiraCode-Regular.ttf') format('truetype'),
		url('/fonts/FiraCode-Regular.woff') format('woff'),
		url('/fonts/FiraCode-Regular.woff2') format('woff2');
}

@media only screen 
and (min-width : 800px) {
	.content_text {
		font-size: 30px;
		width: 50vw;
	}
}
