---
interface Props {
    padding?: boolean;
}

const { padding = true } = Astro.props;
---
<div class="flex justify-center w-full">
    <div class=`w-3/4 xl:w-2/3 2xl:w-1/2 ${padding ? 'pt-20' : 'pt-0'}`>
        <slot />
    </div>
</div>